@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* RESET */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  /* list-style: none; */
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  /* COLORS */
  --primary: #dc3545;
  --secondary: #181f68;
  --terciary: #dcdde7;
  --shadow-1: 1px 1px 10px rgba(255, 255, 255, 0.4);

  --shadow-2: 0 0 30px rgba(0, 0, 255, 0.4);
  --shadow-3: 2px 2px 2px rgba(0, 0, 255, 0.4);
  /* COLORS */

  /* TYPOGRAPHY */
  --letterspacing: 1px;
  --fontsizing-1: 3rem;
  /* TYPOGRAPHY */
  /* REST */
  --transition: 0.3s ease-in-out all;
  --b-radius: 5px;
  /* REST */
}

/* IDS */
#brE-flag {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#site-desc,
#disclaimer {
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
#site-desc svg {
  color: var(--primary);
}
#site-desc svg:hover {
  color: var(--terciary);
}
#calculadora a {
  color: var(--primary);
}
#calculadora a:hover {
  color: var(--terciary);
}
#media-resul {
  font-weight: bolder;
  font-size: 3rem;
}
/* IDS */
/* CLASSES */
.nav-toggle {
  font-size: 1.5rem;
  color: var(--terciary);
  background: transparent;
  border-color: var(--terciary);
  cursor: pointer;
}
.show-container {
  height: 0;
  float: right;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }
  .links-containerN {
    left: -100%;
    display: none;
  }
  ul,
  .links-container {
    position: fixed;
    width: 100%;
    height: 50vh;
    top: 4rem;
    left: 0;
    background: var(--terciary);
    text-align: center;
    display: grid;
    z-index: 1;
    transition: all 1s;
  }
  nav ul li {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

.dropdown-ct {
  display: none;
  position: absolute;
  width: 63%;
  right: -6rem;
  margin-right: 8rem;
  border-radius: 5px;
  margin-top: 7px;
  background-color: var(--secondary);
  z-index: 1;
  color: var(--secondary);
  padding: 0.5rem;
  text-align: center;
}

.dropdown-ct button {
  width: 100%;
  border-radius: 0%;
}

@media screen and (max-width: 456px) {
  .dropdown-ct {
    width: 50%;
    right: -7rem;
  }
  .dropdown-ct button {
    padding: 0.5rem;
  }
}

.dropdown-content a {
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-ct a:hover {
  color: var(--terciary);
  /* background-color: var(--primary); */
}

.dropdown:hover .dropdown-ct {
  display: flex;
  flex-direction: column;
  color: var(--secondary) !important;
}

.error-page {
  text-align: center;
  padding: 2rem;
}
.error-page h3 {
  margin-bottom: 2rem;
}

.card {
  width: 70%;
  color: var(--terciary);
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: var(--shadow-3);
  border-radius: 5px;
}
.card li {
  margin: 1rem 0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .card {
    width: 95%;
  }
}
.footer {
  text-align: center;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--terciary);
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}
.calculadora-campo {
  display: flex;
  flex-direction: column;
}
.calculadora-campo input {
  margin: 0.5rem auto;
  text-align: center;
  padding: 1.5rem;
  width: 20%;
  height: 2rem;
  font-size: 1.7rem;
}
@media screen and (max-width: 456px) {
  .calculadora-campo input {
    width: 30%;
  }
}
/* CLASSES */
/* TAGS */
nav {
  background-color: var(--primary);
  color: var(--terciary);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-shadow: var(--shadow-2);
  justify-content: space-between;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
}
nav ul li a {
  text-transform: uppercase;
}
body {
  background: var(--terciary);
  color: var(--primary);
  line-height: 1.75;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
h1 {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterspacing);
  text-shadow: var(--shadow-3);
  font-size: var(--fontsizing-1);
}
h2,
h3 {
  margin: 1rem auto;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: var(--terciary);
}
button,
li,
.btn,
#disclaimer a {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--terciary);
  border: none;
  padding: 0.4rem;
  box-shadow: var(--shadow-3);
  transition: var(--transition);
  /* border-radius: var(--b-radius); */
}
button:hover,
li:hover,
.btn:hover,
#disclaimer a:hover {
  background-color: var(--secondary);
  color: var(--terciary);
  box-shadow: var(--shadow-1);
}
td,
th,
tr {
  border: 1px solid var(--primary);
  padding: 1rem;
  text-align: center;
}
table {
  margin: 1rem auto;
}
@media screen and (max-width: 456px) {
  .card table {
    font-size: 0.95rem;
  }
}
hr {
  border-top: 1px solid var(--primary);
  margin: 1rem auto;
}

/* TAGS */
