/* RESET */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  /* list-style: none; */
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  /* COLORS */
  --primary: #dc3545;
  --secondary: #181f68;
  --terciary: #dcdde7;
  --shadow-1: 1px 1px 10px rgba(255, 255, 255, 0.4);

  --shadow-2: 0 0 30px rgba(0, 0, 255, 0.4);
  --shadow-3: 2px 2px 2px rgba(0, 0, 255, 0.4);
  /* COLORS */

  /* TYPOGRAPHY */
  --letterspacing: 1px;
  --fontsizing-1: 3rem;
  /* TYPOGRAPHY */
  /* REST */
  --transition: 0.3s ease-in-out all;
  --b-radius: 5px;
  /* REST */
}

/* IDS */
#brE-flag {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#site-desc {
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
}
/* IDS */
/* CLASSES */
.nav-toggle {
  font-size: 1.5rem;
  color: var(--terciary);
  background: transparent;
  border-color: var(--terciary);
  cursor: pointer;
}
.show-container {
  height: 0;
  float: right;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }
  .links-containerN {
    left: -100%;
    display: none;
  }
  ul,
  .links-container {
    position: fixed;
    width: 100%;
    height: 50vh;
    top: 4rem;
    left: 0;
    background: var(--terciary);
    text-align: center;
    display: grid;
    z-index: 1;
    transition: all 1s;
  }
  nav ul li {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

.dropdown-ct {
  display: none;
  position: absolute;
  width: 50%;
  margin-right: 4rem;
  border-radius: 5px;
  margin-top: 7px;
  background-color: var(--secondary);
  z-index: 1;
  color: var(--secondary);
}
.dropdown-content a {
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-ct a:hover {
  color: var(--terciary);
  background-color: var(--primary);
}

.dropdown:hover .dropdown-ct {
  display: flex;
  flex-direction: column;
  color: var(--secondary) !important;
}

.error-page {
  text-align: center;
  padding: 2rem;
}
.error-page h3 {
  margin-bottom: 2rem;
}

.card {
  width: 70%;
  color: var(--terciary);
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: var(--shadow-3);
}
.card li {
  margin: 1rem 0;
  cursor: default;
}
@media screen and (max-width: 800px) {
  .card {
    width: 85%;
  }
}

/* .card ul {
  top: 0;
} */
/* CLASSES */
/* TAGS */
nav {
  background-color: var(--primary);
  color: var(--terciary);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-shadow: var(--shadow-2);
  justify-content: space-between;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
}
nav ul li a {
  text-transform: uppercase;
}
body {
  background: var(--terciary);
  color: var(--primary);
  line-height: 1.75;
}
h1 {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterspacing);
  text-shadow: var(--shadow-3);
  font-size: var(--fontsizing-1);
}
a {
  text-decoration: none;
  color: var(--terciary);
}
button,
li,
.btn {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--terciary);
  border: none;
  padding: 0.4rem;
  box-shadow: var(--shadow-3);
  transition: var(--transition);
  border-radius: var(--b-radius);
}
button:hover,
li:hover,
.btn:hover {
  background-color: var(--secondary);
  color: var(--terciary);
  box-shadow: var(--shadow-1);
}
td,
th,
tr {
  border: 1px solid red;
  padding: 1rem;
  text-align: left;
}
table {
  margin: 0 auto;
}

/* TAGS */
